<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alertas">
    <div th:if="${erro}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        <span th:text="${erro}">Erro</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${sucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <span th:text="${sucesso}">Sucesso</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
</body>
</html>
